#git+https://github.com/aolabsai/ao_arch


Flask
Flask-Cors
PyJWT
google-auth
google-auth-oauthlib
google-auth-httplib2
openai
numpy
httpx
python-dotenv
firebase-admin
requests
gunicorn

git+https://github.com/Rafipilot/embedding_bucketing
git+https://github.com/aolabsai/ao_python
git+https://github.com/aolabsai/ao_arch



